.about{
    margin: 0.5rem;
}
.about-bg-container{
    position: relative;
    text-align: center;
    color: #A1080F;
    font-weight: 800;
    font-size: 3rem;
    margin-top: 0;
    width: 100%; 
    overflow: hidden;
    margin-bottom: 3rem;
    justify-content: stretch;
}
.about-bg{
    visibility: hidden;
    max-width: 100%;
    width: inherit;
    margin-top: -40rem;
}

/******************   PC   ************************/
@media (min-width: 1120px) {
    .about-bg{
        visibility: visible;
    }
    .about-bg-container .on-img-words {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}